<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jason.datacollection.mapper.KUserMapper">
  <resultMap id="BaseResultMap" type="com.jason.datacollection.entity.KUser">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="NICKNAME" jdbcType="VARCHAR" property="nickname" />
    <result column="EMAIL" jdbcType="VARCHAR" property="email" />
    <result column="PHONE" jdbcType="VARCHAR" property="phone" />
    <result column="ACCOUNT" jdbcType="VARCHAR" property="account" />
    <result column="PASSWORD" jdbcType="VARCHAR" property="password" />
    <result column="ADD_TIME" jdbcType="TIMESTAMP" property="addTime" />
    <result column="ADD_USER" jdbcType="VARCHAR" property="addUser" />
    <result column="EDIT_TIME" jdbcType="TIMESTAMP" property="editTime" />
    <result column="EDIT_USER" jdbcType="VARCHAR" property="editUser" />
    <result column="DEL_FLAG" jdbcType="VARCHAR" property="delFlag" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, NICKNAME, EMAIL, PHONE, ACCOUNT, PASSWORD, ADD_TIME, ADD_USER, EDIT_TIME, EDIT_USER,
    DEL_FLAG
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from K_USER
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from K_USER
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.jason.datacollection.entity.KUser">
    insert into K_USER (ID, NICKNAME, EMAIL,
    PHONE, ACCOUNT, PASSWORD,
    ADD_TIME, ADD_USER, EDIT_TIME,
    EDIT_USER, DEL_FLAG)
    values (#{id,jdbcType=VARCHAR}, #{nickname,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR},
    #{phone,jdbcType=VARCHAR}, #{account,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},
    #{addTime,jdbcType=TIMESTAMP}, #{addUser,jdbcType=VARCHAR}, #{editTime,jdbcType=TIMESTAMP},
    #{editUser,jdbcType=VARCHAR}, #{delFlag,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jason.datacollection.entity.KUser">
    insert into K_USER
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="nickname != null">
        NICKNAME,
      </if>
      <if test="email != null">
        EMAIL,
      </if>
      <if test="phone != null">
        PHONE,
      </if>
      <if test="account != null">
        ACCOUNT,
      </if>
      <if test="password != null">
        PASSWORD,
      </if>
      <if test="addTime != null">
        ADD_TIME,
      </if>
      <if test="addUser != null">
        ADD_USER,
      </if>
      <if test="editTime != null">
        EDIT_TIME,
      </if>
      <if test="editUser != null">
        EDIT_USER,
      </if>
      <if test="delFlag != null">
        DEL_FLAG,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null">
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="account != null">
        #{account,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null">
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="addUser != null">
        #{addUser,jdbcType=VARCHAR},
      </if>
      <if test="editTime != null">
        #{editTime,jdbcType=TIMESTAMP},
      </if>
      <if test="editUser != null">
        #{editUser,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jason.datacollection.entity.KUser">
    update K_USER
    <set>
      <if test="nickname != null">
        NICKNAME = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        EMAIL = #{email,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        PHONE = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="account != null">
        ACCOUNT = #{account,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        PASSWORD = #{password,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null">
        ADD_TIME = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="addUser != null">
        ADD_USER = #{addUser,jdbcType=VARCHAR},
      </if>
      <if test="editTime != null">
        EDIT_TIME = #{editTime,jdbcType=TIMESTAMP},
      </if>
      <if test="editUser != null">
        EDIT_USER = #{editUser,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        DEL_FLAG = #{delFlag,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jason.datacollection.entity.KUser">
    update K_USER
    set NICKNAME = #{nickname,jdbcType=VARCHAR},
    EMAIL = #{email,jdbcType=VARCHAR},
    PHONE = #{phone,jdbcType=VARCHAR},
    ACCOUNT = #{account,jdbcType=VARCHAR},
    PASSWORD = #{password,jdbcType=VARCHAR},
    ADD_TIME = #{addTime,jdbcType=TIMESTAMP},
    ADD_USER = #{addUser,jdbcType=VARCHAR},
    EDIT_TIME = #{editTime,jdbcType=TIMESTAMP},
    EDIT_USER = #{editUser,jdbcType=VARCHAR},
    DEL_FLAG = #{delFlag,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>